<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'leader' %>
      <h2>Gracias!</h2>
      <p>Te hemos enviado un correo de confirmación a: <tt><%= @guest.email %></tt>.</p>
      <p>Si no recibes el correo en algunos minutos, por favor revisa la carpeta de spam , si no tienes ningun correo escribenos a:  <%= mail_to ENV['CONTACT_EMAIL'], 'Hola BENALI LOVE' %>.</p>
      <p>En el correo esta un link para editar y revisar tu reservación.</p>
      <p><%= link_to "Veamos la Página de BENALI BODA", root_path %></p>
      <%= image_tag 'novios-fiesta.jpg', class: "rounded mx-auto d-block", alt: 'Vamos a Festeja'%>
    </div>
  </div>
</div>
