<section id="welcome-index-wedding-benali-leader" class="jumbotron text-center">
  <div class="container">
    <h1>...</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%=image_tag 'novios1.jpg', class: "d-block w-100", alt: 'Primera imagen'%>
          </div>
          <div class="carousel-item">
            <%=image_tag 'novios2.jpg', class: "d-block w-100", alt: 'Segunda imagen'%>
          </div>
          <div class="carousel-item">
            <%=image_tag 'novios3.jpg', class: "d-block w-100",  alt: 'Tercera imagen'%>
          </div>
          <div class="carousel-item">
            <%=image_tag 'novios4.jpg', class: "d-block w-100", alt: 'Cuarta imagen'%>
          </div>
          <div class="carousel-item">
            <%=image_tag 'novios5.jpg', class: "d-block w-100", alt: 'Quinta imagen'%>
          </div>
          <div class="carousel-item">
            <%=image_tag 'novios6.jpg', class: "d-block w-100", alt: 'Sexta imagen'%>
          </div>
          <div class="carousel-item">
            <%=image_tag 'novios7.jpg', class: "d-block w-100", alt: 'Septima imagen'%>
          </div>
          <div class="carousel-item">
            <%=image_tag 'novios8.jpg', class: "d-block w-100", alt: 'Octava imagen'%>
          </div>
          <div class="carousel-item">
            <%=image_tag 'novios9.jpg', class: "d-block w-100", alt: 'Novena imagen'%>
          </div>
          <div class="carousel-item">
            <%=image_tag 'novios10.jpg', class: "d-block w-100", alt: 'Decima imagen'%>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
    </div>
  </div>
</section>
