<main role="main">
  <%= render partial: 'jumbo' %>
  <%= render partial: 'when_where' %>
  <%= render partial: 'venue' %>
  <%= render partial: 'novios' %>
  <%= render partial: 'plan' %>
</main>
<%= render partial: 'footer' %>
