<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'guests/leader' %>
      <%= render partial: 'guests/rsvp_nav', locals: { active: 2 } %>

      <h2>Integrantes de tu familia o Acompañante</h2>
      <p>Puedes decirnos cuantos vendra de tu familia incluyendo los niños. Si requires un acompañante por favor hazlo saber.
      <p>&nbsp;</p>

      <% if @plus_ones.any? %>
        <%= render @plus_ones %>
      <% else %>
        <p>Sin familiares o acompañentes. Voy solo o ellos se van a registrar.</p>
      <% end %>
      <p>
        <%= link_to 'Agregar familiar / acompañante', new_guest_plus_one_path(@guest), class: 'btn btn-primary', data: { disable_with: 'Agregando...' } %>
      </p>

      <p>&nbsp;</p>
      <p class="guests-buttons">
        <%= link_to 'Continuar', confirm_guest_path(@guest), class: 'btn btn-primary' %>
      </p>
    </div>
  </div>
</div>
